<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/fragments/resources :: head}">
    <meta charset="UTF-8">
    <title>Pizza List</title>
</head>
<body>
<div class="container">
    <nav th:insert="~{/fragments/navbar :: navbar(current='pizza')}"></nav>
    <h1>Elenco Pizze</h1>
    <hr>

    <div>
        <form method="GET" th:action="@{/pizza}">
            <div class="input-group">
                <label>
                    <input class="form-control" name="keyword" placeholder="Cerca una pizza"
                           th:value="${searchInput}" type="search">
                </label>
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Foto</th>
            <th>Prezzo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzasList}">
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}"></td>
            <td><img alt="" height="100" src="" th:src="${pizza.imgUrl}" width="100"/></td>
            <td th:text="|${pizza.price} euro|"></td>
            <td>
                <a th:href="@{|/pizza/${pizza.id}|}"><i class="fa-solid fa-pizza-slice"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info" th:if="${pizzasList.isEmpty()}">
        <p>Nessuna pizza presente</p>
    </div>
</div>

</body>
</html>