<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/fragments/resources :: head}">
    <meta charset="UTF-8">
    <title>Pizza List</title>
</head>
<body>
<div class="container">
    <nav th:insert="~{/fragments/navbar :: navbar(current='pizza')}"></nav>
    <div class="alert alert-success alert-dismissible fade show"
         th:classappend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'"
         th:if="${message != null}">
        <div th:text="${message.message}"></div>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
    <h1>Elenco Pizze</h1>
    <hr>

    <div class="d-flex justify-content-between align-items-center my-3">
        <a class="btn btn-primary" th:href="@{/pizza/create}">Add Pizza</a>
        <div>
            <form method="GET" th:action="@{/pizza}">
                <div class="input-group">
                    <label>
                        <input class="form-control" name="keyword" placeholder="Cerca una pizza"
                               th:value="${searchInput}" type="search">
                    </label>
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Foto</th>
            <th>Prezzo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzasList}">
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}"></td>
            <td><img alt="" height="100" src="" th:src="${pizza.imgUrl}" width="100"/></td>
            <td th:text="|${pizza.price} euro|"></td>
            <td class="d-flex align-items-center">
                <a class="btn btn-primary me-1" th:href="@{|/pizza/${pizza.id}|}"><i
                        class="fa-solid fa-pizza-slice"></i></a>
                <a class="btn btn-primary me-1" th:href="@{|/pizza/edit/${pizza.id}|}"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <form method="POST" th:action="@{|/pizza/delete/${pizza.id}|}">
                    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info" th:if="${pizzasList.isEmpty()}">
        <p>Nessuna pizza presente</p>
    </div>
</div>

</body>
</html>